<!doctype html>
<html lang="en" itemscope itemtype="http://schema.org/Article" xmlns:fb="http://ogp.me/ns/fb#">

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# blog: http://ogp.me/ns/blog#">
   <!--  {% block head %} {% endblock %} -->
</head>

<body>
    <header>
        <p>Testing</p>
        <!--  {% block header %} {% endblock %}-->
    </header>
    <section>
        <!-- {% block body %} {% endblock %} -->
    </section>
    <footer>
        <!-- {% block footer %} {% endblock %} -->
    </footer>

    <div id="fb-root"></div>
</body>
<!-- {% include "scripts.html" %} -->
<script type="text/config">
    {
        "version": 0.0.1
    }
</script>

</html>